.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);

  &::after {
    content: '';

    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;
    height: 1px;

    background: var(--color-dark-300);
  }

  .logo {
    display: flex;
    align-items: baseline;
  }
}
