.container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  .searchWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .spinner {
    display: grid;
    place-items: center;
    height: 50vh;
  }

  .searchNotFound {
    display: grid;
    place-items: center;
    height: 5vh;
  }

  .sortableButton {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
  }

  .tableCellField {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
  }

  .link {
    display: flex;
    gap: 12px;
    align-items: center;
    color: inherit;

    &:hover {
      color: var(--color-primary-100);
    }
  }
}
