.container {
  margin-top: 36px;

  .link {
    display: flex;
    gap: 12px;
    align-items: center;
    color: inherit;

    &:hover {
      color: var(--color-primary-100);
    }
  }

  .notFound {
    text-align: center;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
